{{ define "main" }}
<section>
    <article >

        <h2>
            {{ .Title }}
        </h2>

        {{ .Content }}

        {{ partial "discourseComments.html" . }}


        <hr />

        Written by:

        {{- range .Params.authors }}
            {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                <figure>
                    <img src="{{ .Params.photo }}" alt="" class="author-avatar" />
                    <figcaption>
                        <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                    </figcaption>
                </figure>
            {{ end }}
        {{ end }}

        {{- range .Params.tags }}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "tags/%s" (urlize .)) }}
          <a href="{{ .Permalink }}">{{ .Params.title }}</a>
        {{ end }}
        {{ end }}

    </article>

</section>

{{ end }}