{{ define "main" }}

    <article class="cf ph3 ph5-l pv3 pv4-l f4  lh-copy mid-gray">

        <h2 class="black">
            {{ .Title }}
        </h2>

        {{ .Content }}


        <hr />

        Written by:

        {{- range .Params.authors }}
            {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                <figure>
                    <img src="{{ .Params.photo }}" alt="" class="author-avatar" />
                    <figcaption>
                        <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                    </figcaption>
                </figure>
            {{ end }}
        {{ end }}

    </article>

    

{{ end }}