<article >
        <h2> <a href="{{ .Permalink }}">{{ .Title }}</a> </h2>
        <p>{{ .Summary | plainify | safeHTML }} {{ if .Truncated }} … <a class="readMore" href="{{ .Permalink }}">Read
            More... </a> {{ end }} </p>
    
    
    
        <div class="meta">
            Posted on <span class="postdate">{{ .Date.Format "02. January 2006" }}</span>.
            <br />
            <address>
            Written by
      
            {{- range .Params.authors }}
            {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
              <a href="{{ .Permalink }}">{{ .Params.name }}</a>
            {{ end }}
            {{ end }}
          </address>
      
       
        </div>
      </article>