<div class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center lh-copy black bg-gold getStarted">

    <article class="cf">

            Done Right, Java can be blazing fast. To be blunt: Java will always be easier to Do Right than C++. We provide Java developers with the tools they need to make highly performant 3D games on par with any other engine out there, without the headaches of
            compiler code.

            <br />
            <br /> jMonkeyEngine games can be published to Windows, Mac and Linux, as well as Android and iOS. Furthermore we support unique new peripherals for AR and VR technologies, most noteworthy being the Oculus Rift.

            <br />
            <br />
            <a class="f4 link dim bw1 ph3 pv2 mb2 dib white bg-blue" href="/start/">Get Started</a>


  
    </article>

</div>