<article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center lh-copy mid-gray">
    <div class="mw9 center ph3-ns">
        <div class="cf ph2-ns">
          
            <div class="fl w-100 w-third-ns pa2">
            <div class="bg-white pv4 pa2 shadow-1">
                <h2>Code</h2>
                <img src="/images/code.png" />
                <br />
                
                If you know how to code, and enjoy fun and challenging problems, you can help by fixing bugs or creating cool new features.
            </div>
          </div>

          <div class="fl w-100 w-third-ns pa2">
            <div class="bg-white pv4 pa2 shadow-1">
                <h2>Document</h2>
                <img src="/images/book.png" />
                <br />
                Documentation quality is essential in a game engine; help make it better by updating the API reference, writing new guides or submitting corrections. 
            </div>
          </div>

          <div class="fl w-100 w-third-ns pa2">
            <div class="bg-white pv4 pa2 shadow-1">
                <h2>Report Bugs</h2>
                <img src="/images/bug_report.png" />
                <br />
                Found a problem with the engine? Don't forget to report it so that developers can track it down. 
            </div>
          </div>

        </div>
      </div>
</article>