<nav>
    <ul>

    <!-- TODO: Add follow intents where available TODO: Revisit color and hover color -->
    {{ with .Param "twitter" }}
    <li >
    <a class="social twitter" href="{{ . }}" target="_blank" title="Twitter link" rel="noopener" aria-label="follow on Twitter——Opens in a new window">
    </a> 
    </li>
    {{ end }}



    {{ with .Param "youtube" }}
    <li>
    <a class="social youtube" href="{{ . }}" target="_blank"  title="Youtube link" rel="noopener" aria-label="follow on Youtube——Opens in a new window">
    </a>
    </li>
    {{ end }} 


    {{ with .Param "github" }}
    <li>
    <a class="social github" href="{{ . }}" target="_blank" title="Github link" rel="noopener" aria-label="follow on Github——Opens in a new window">
    </a> 
    </li>
    {{ end }}

    {{ with .Param "discord" }}
    <li>
    <a class="social discord" href="{{ . }}" target="_blank"  title="Discord link" rel="noopener" aria-label="Join our community——Opens in a new window">
    </a> 
    </li>
    {{ end }}
</ul>
</nav>
