{{ define "main" }} {{ $featured_image := .Param "featured_image"}}
{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
{{ $featured_image := (trim $featured_image "/") | absURL }}
<div id="cover" style="background-image: url('{{ $featured_image }}');">

    <div>
        A free, open source game engine, made especially for Java game developers who want to create 3D games using
        modern technology. The software is programmed entirely in Java, intended for wide accessibility and quick
        deployment.
    </div>

</div>


<div id="getStarted">
    {{ .Content }}
</div>



{{ partial "index-features.html" . }} {{ end }}